<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="checkOutForm.css">
        <meta charset="UTF-8">
        <title>My Web Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
        <script src="checkOutForm.js"></script>
    </head>

    <body>
        <h2>check out form</h2>

        <div class="container" id="container">
            <div class="left-button-container">
                <form>
                    <input type="text" placeholder="Title" id="title"/>
                    <input type="text" placeholder="Author" id="Author" />
                    <input type="text" placeholder="Name" id="name" />
                    <select title="Time Out" name="Time" id="time">
                        <option value="placehold" disabled selected hidden>Time borrowed</option>
                        <option value="1d">1 day</option>
                        <option value="2d">2 day</option>
                        <option value="3d">3 day</option>
                        <option value="4d">4 day</option>
                        <option value="5d">5 day</option>
                        <option value="6d">6 day</option>
                        <option value="1w">1 week</option>
                        <option value="2w">2 week</option>
                        <option value="3w">3 week</option>
                        <option value="4w">4 week</option>
                        <option value="5w">5 week</option>
                    </select>
                    <p></p>
                    <button type="button" id="submit">Submit</button>
                </form>
                
            </div>
        </div>
    </body>
</html>