<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="view_loans.css">
        <meta charset="UTF-8">
        <title>My Web Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
        <script src="view_loans.js"></script>
    </head>

    <body>
        <h2>Add book form</h2>

        <div class="container" id="container">
            <div class="left-button-container" id="container-left">
                
                
                
            </div>
        </div>
    </body>
</html>