<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="addBook.css">
        <meta charset="UTF-8">
        <title>My Web Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
        <script src="addBook.js"></script>
    </head>

    <body>
        <h2>Add book form</h2>

        <div class="container" id="container">
            <div class="left-button-container">
                <form>
                    <input type="text" placeholder="Title" id="title" />
                    <input type="text" placeholder="Author" id="Author" />
                    <input type="number" placeholder="copies" id="copies" />
                    <button type="button" id="add">add to library</button>
                </form>
                
            </div>
        </div>
    </body>
</html>